*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
    
}

body{
    background: linear-gradient(135deg, rgb(125, 3, 254) 0%, rgb(88, 4, 174) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

body h1{
    position: absolute;
    top: 200px;
    font-weight: bolder;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sound-container{
    background: linear-gradient(135deg, rgb(170, 116, 255) 0%, rgb(145, 60, 255) 100%);
    height: 100px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.sound-container:hover{
    background: linear-gradient(135deg, rgb(145, 60, 255) 0%, rgb(125, 3, 254) 100%);
}